{% extends 'bootstrap5/bootstrap5.html' %}
{% load static %}
{% block bootstrap5_title %}
    {% block title %}
        Counter Dashboard
    {% endblock %}
{% endblock %}

{% block bootstrap5_extra_head %}
    <script src="{% static 'app/js/jq-3.6.0.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.9/dayjs.min.js"
            integrity="sha512-q4Xn+ZU2K+dqJPL8a3TiyGsDa31IkR/rLt/w+fy8jLrx8TdXj0dLM1Aq4aPXnOOKxHEya/bD9DePDB2DHm4jJQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.9/locale/en.min.js"
            integrity="sha512-iyDTbRuyXHdkW3lqUjbVYufzZcHjagbEor24TqiNM5do10L5zPPIb4h6eQiXffVaqAG27DwsjSyz7ygKJyyoNQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>dayjs.locale('en')</script>
    <script src="https://unpkg.com/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
    <script src="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
    <link rel="stylesheet" href="{% static 'app/css/dashboard.css' %}"/>
{% endblock %}
