{% extends 'app/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block bootstrap5_content %}
    <div class="container-sm">
        <div class="d-flex p-3">
            <div class="lh-100">
                <h1 class="lh-100 text-start">Counter Dashboard</h1>
                <h2 class="text-start">{{ counter_dashboard.name }}</h2>
                <small>Created <span id="dashboard_created">{{ counter_dashboard.created }}</span></small>
            </div>
        </div>
        {% if user.is_counter_admin %}
            <div class="px-3 pb-3">
                <div class="accordion" id="accordionUrls">
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#urlList" aria-expanded="true" aria-controls="urlList">
                                Dashboard URLs
                            </button>
                        </h3>
                        <div id="urlList" class="accordion-collapse collapse"
                             data-bs-parent="#accordionUrls">
                            <div class="accordion-body">
                                <p>Save these urls to keep your Dashboard!</p>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="badge bg-secondary">Admin</span> <a
                                            href="{% url "dashboard" counter_dashboard.counteradmin_set.first.uuid %}">{% url "dashboard" counter_dashboard.counteradmin_set.first.uuid %}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge bg-secondary">Worker</span> <a
                                            href="{% url "dashboard" counter_dashboard.counterworker_set.first.uuid %}">{% url "dashboard" counter_dashboard.counterworker_set.first.uuid %}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge bg-secondary">Viewer</span> <a
                                            href="{% url "dashboard" counter_dashboard.counterviewer_set.first.uuid %}">{% url "dashboard" counter_dashboard.counterviewer_set.first.uuid %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="container-xl" id="dashboard-container">
            <!-- Content here -->
        </div>
        <div id="alerts" style="
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            z-index:9999;
            border-radius:0px">
            <!-- Alerts here -->
        </div>
    </div>
    <script>
        const userName = "{{ user.name }}";
        const userUuid = "{{ user.uuid }}";
        const userIsAdmin = {{ user.is_counter_admin   | lower }};
        const userIsWorker = {{ user.is_counter_worker | lower }};
        const userIsViewer = {{ user.is_counter_viewer | lower }};
    </script>
    <script src="{% static 'app/js/dashboard.js' %}">
    </script>
    {% include 'app/footer.html' %}
{% endblock %}