{% extends 'app/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block bootstrap5_content %}
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="{% static 'app/img/CounterDashboard.png' %}" alt="" width="72"
                 height="72">
            <h1 class="display-5 fw-bold">{% block title %}Counter Dashboard{% endblock %}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    Count everything..
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4"
                            data-bs-toggle="modal"
                            data-bs-target="#createCounterDashboardModal">
                        Create a new Counter Dashboard
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="createCounterDashboardModal" tabindex="-1" role="dialog"
             aria-labelledby="createCounterDashboardModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createCounterDashboardModalLongTitle">Create a new Counter
                            Dashboard</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Create">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'app/footer.html' %}
{% endblock %}