{% extends 'app/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block bootstrap5_content %}
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="{% static 'app/img/CounterDashboard.png' %}" alt="" width="72"
                 height="72">
            <h1 class="display-5 fw-bold">{% block title %}Counter Dashboard{% endblock %}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    Count everything..
                </p>
            </div>

            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class=col">
                            {{ form.username.label_tag }}
                        </div>
                        <div class=col">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=col">
                            {{ form.password.label_tag }}
                        </div>
                        <div class=col">
                            {{ form.password }}
                        </div>
                    </div>
                </div>

                <input type="hidden" name="next" value="{{ next }}">
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>
    {% include 'app/footer.html' %}
{% endblock %}